html, body {
  margin: 0;
  padding: 0;
  background: url(Images/img-5.jpg) no-repeat center center fixed;
  background-size: cover ;
}

.container {
  width: 1920px;
  margin: 0 auto;
}

.navigation {
  padding: 10px 0;
  background-color: rgba(0,0,0,.5);
  
}

.navigation ul {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  
  
}
.navigation li  {
  display: inline;
   padding: 15px;
  font-size: 20px;
  text-align: center;
  margin: 30px;

 }

.navigation li a:link {
  color: #fff;
  text-decoration: none;
}

.jumbotron {
  background-color: rgba(0,0,0,.5);
  position: relative;
  top: 50px;
  text-align: center;
}

.footer {
  background-color: rgba(0,0,0,1);
  text-align: center;
}